In [2]:
from backend.senti_ai.ml_logic.data import save_data_to_bq, load_data_from_bq
import pandas as pd

In [21]:
df['date'] = pd.to_datetime(df['date'])
df.info()
df

<class 'pandas.core.frame.DataFrame'>
Index: 2596 entries, 2595 to 0
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date                    2596 non-null   datetime64[ns]
 1   BTC_Close               2596 non-null   float64
 2   BTC_High                2596 non-null   float64
 3   BTC_Low                 2596 non-null   float64
 4   BTC_Open                2596 non-null   float64
 5   BTC_Volume              2596 non-null   int64
 6   BTC_sentiment_score     2596 non-null   int64
 7   NASDAQ_Close            2596 non-null   float64
 8   NASDAQ_High             2596 non-null   float64
 9   NASDAQ_Low              2596 non-null   float64
 10  NASDAQ_Open             2596 non-null   float64
 11  NASDAQ_Volume           2596 non-null   int64
 12  NASDAQ_sentiment_score  2596 non-null   int64
dtypes: datetime64[ns](1), float64(8), int64(4)
memory usage: 283.9 KB

,date,BTC_Close,BTC_High,BTC_Low,BTC_Open,BTC_Volume,BTC_sentiment_score,NASDAQ_Close,NASDAQ_High,NASDAQ_Low,NASDAQ_Open,NASDAQ_Volume,NASDAQ_sentiment_score
2595,2025-03-11,81461.62,81961.26,76808.10,78582.16,58110119936,24,17436.099609,17687.400391,17238.240234,17443.089844,9177320000,13
2594,2025-03-10,78532.00,83955.93,77420.59,80597.15,54061099422,20,17468.320312,17868.080078,17291.820312,17840.320312,8636040000,14
2593,2025-03-09,80601.04,86471.13,80052.48,86154.30,30899345977,27,18196.220703,18243.580078,17768.589844,18029.849609,8135420000,18
2592,2025-03-08,86154.59,86847.27,85247.48,86742.66,18206118081,28,18196.220703,18243.580078,17768.589844,18029.849609,8135420000,18
2591,2025-03-07,86742.67,91191.05,84717.68,89963.28,65945677657,34,18196.220703,18243.580078,17768.589844,18029.849609,8135420000,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2018-02-05,6955.27,8364.84,6756.68,8270.54,9285289984,11,6967.529785,7277.359863,6967.529785,7165.959961,3143210000,17
3,2018-02-04,8277.01,9334.87,8031.22,9175.70,7073549824,24,7240.950195,7364.430176,7238.180176,7347.589844,2607160000,40
2,2018-02-03,9174.91,9430.75,8251.63,8852.12,7263790080,40,7240.950195,7364.430176,7238.180176,7347.589844,2607160000,40
1,2018-02-02,8830.75,9142.28,7796.49,9142.28,12726899712,15,7240.950195,7364.430176,7238.180176,7347.589844,2607160000,40
0,2018-02-01,9170.54,10288.80,8812.28,10237.30,9959400448,30,7385.859863,7441.089844,7362.279785,7377.169922,2311180000,58

In [11]:
df = df.sort_values('date', ascending=False)
df

,date,BTC_Close,BTC_High,BTC_Low,BTC_Open,BTC_Volume,BTC_sentiment_score,NASDAQ_Close,NASDAQ_High,NASDAQ_Low,NASDAQ_Open,NASDAQ_Volume,NASDAQ_sentiment_score
2595,2025-03-11,81461.62,81961.26,76808.10,78582.16,58110119936,24,17436.099609,17687.400391,17238.240234,17443.089844,9177320000,13
2594,2025-03-10,78532.00,83955.93,77420.59,80597.15,54061099422,20,17468.320312,17868.080078,17291.820312,17840.320312,8636040000,14
2593,2025-03-09,80601.04,86471.13,80052.48,86154.30,30899345977,27,18196.220703,18243.580078,17768.589844,18029.849609,8135420000,18
2592,2025-03-08,86154.59,86847.27,85247.48,86742.66,18206118081,28,18196.220703,18243.580078,17768.589844,18029.849609,8135420000,18
2591,2025-03-07,86742.67,91191.05,84717.68,89963.28,65945677657,34,18196.220703,18243.580078,17768.589844,18029.849609,8135420000,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2018-02-05,6955.27,8364.84,6756.68,8270.54,9285289984,11,6967.529785,7277.359863,6967.529785,7165.959961,3143210000,17
3,2018-02-04,8277.01,9334.87,8031.22,9175.70,7073549824,24,7240.950195,7364.430176,7238.180176,7347.589844,2607160000,40
2,2018-02-03,9174.91,9430.75,8251.63,8852.12,7263790080,40,7240.950195,7364.430176,7238.180176,7347.589844,2607160000,40
1,2018-02-02,8830.75,9142.28,7796.49,9142.28,12726899712,15,7240.950195,7364.430176,7238.180176,7347.589844,2607160000,40
0,2018-02-01,9170.54,10288.80,8812.28,10237.30,9959400448,30,7385.859863,7441.089844,7362.279785,7377.169922,2311180000,58

In [23]:
df = pd.read_csv("/Users/ahmetcakan/Desktop/combined_df_final_with_NaN.csv")
df = df.drop(columns=['NASDAQ_Close_MA100', 'BTC_Volatility', 'NASDAQ_Volatility', 'BTC_Close_MA100'])
df['date'] = pd.to_datetime(df['date'])
df = df.sort_values('date', ascending=False)
save_data_to_bq(df,"supple-folder-448412-n9", "sentiai", "raw", truncate=True)

Save data to BigQuery @ supple-folder-448412-n9.sentiai.raw...:

Write supple-folder-448412-n9.sentiai.raw (2596 rows)

/Users/ahmetcakan/.pyenv/versions/3.10.6/envs/senti_ai/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:483: FutureWarning: Loading pandas DataFrame into BigQuery will require pandas-gbq package version 0.26.1 or greater in the future. Tried to import pandas-gbq and got: No module named 'pandas_gbq'
  warnings.warn(

âœ… Data saved to bigquery, with shape (2596, 13)

In [17]:
df

,date,BTC_Close,BTC_High,BTC_Low,BTC_Open,BTC_Volume,BTC_sentiment_score,NASDAQ_Close,NASDAQ_High,NASDAQ_Low,NASDAQ_Open,NASDAQ_Volume,NASDAQ_sentiment_score
2595,2025-03-11,81461.62,81961.26,76808.10,78582.16,58110119936,24,17436.099609,17687.400391,17238.240234,17443.089844,9177320000,13
2594,2025-03-10,78532.00,83955.93,77420.59,80597.15,54061099422,20,17468.320312,17868.080078,17291.820312,17840.320312,8636040000,14
2593,2025-03-09,80601.04,86471.13,80052.48,86154.30,30899345977,27,18196.220703,18243.580078,17768.589844,18029.849609,8135420000,18
2592,2025-03-08,86154.59,86847.27,85247.48,86742.66,18206118081,28,18196.220703,18243.580078,17768.589844,18029.849609,8135420000,18
2591,2025-03-07,86742.67,91191.05,84717.68,89963.28,65945677657,34,18196.220703,18243.580078,17768.589844,18029.849609,8135420000,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2018-02-05,6955.27,8364.84,6756.68,8270.54,9285289984,11,6967.529785,7277.359863,6967.529785,7165.959961,3143210000,17
3,2018-02-04,8277.01,9334.87,8031.22,9175.70,7073549824,24,7240.950195,7364.430176,7238.180176,7347.589844,2607160000,40
2,2018-02-03,9174.91,9430.75,8251.63,8852.12,7263790080,40,7240.950195,7364.430176,7238.180176,7347.589844,2607160000,40
1,2018-02-02,8830.75,9142.28,7796.49,9142.28,12726899712,15,7240.950195,7364.430176,7238.180176,7347.589844,2607160000,40
0,2018-02-01,9170.54,10288.80,8812.28,10237.30,9959400448,30,7385.859863,7441.089844,7362.279785,7377.169922,2311180000,58

In [16]:
print(load_data_from_bq("supple-folder-448412-n9", "sentiai", "raw"))

/Users/ahmetcakan/.pyenv/versions/3.10.6/envs/senti_ai/lib/python3.10/site-packages/google/cloud/bigquery/table.py:1900: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

            date  BTC_Close  BTC_High   BTC_Low  BTC_Open   BTC_Volume  \
0     2020-03-12    4970.79   7929.12   4860.35   7913.62  53980357243
1     2018-12-25    3815.49   4089.56   3760.02   4081.03   6158207293
2     2018-12-24    4078.60   4271.79   4000.33   4000.33   7240968501
3     2022-05-12   29047.75  30032.44  26350.49  28936.73  66989173272
4     2020-03-16    5014.48   5385.23   4575.36   5385.23  45368026430
...          ...        ...       ...       ...       ...          ...
2591  2020-01-03    7344.88   7413.72   6915.00   6984.43  28111481032
2592  2020-01-01    7200.17   7254.33   7174.94   7194.89  18565664997
2593  2019-12-31    7193.60   7335.29   7169.78   7294.44  21167946112
2594  2019-12-26    7238.97   7388.30   7200.39   7274.80  22787010034
2595  2020-01-02    6985.47   7212.16   6935.27   7202.55  20802083465

      BTC_sentiment_score  NASDAQ_Close   NASDAQ_High    NASDAQ_Low  \
0                      14   7201.799805   7712.330078   7194.669922
1                      33   6192.919922   6355.180176   6190.169922
2                      25   6192.919922   6355.180176   6190.169922
3                      12  11370.959961  11547.330078  11108.759766
4                       9   6904.589844   7422.200195   6882.859863
...                   ...           ...           ...           ...
2591                   38   9020.769531   9065.759766   8976.429688
2592                   37   8972.599609   8975.360352   8912.769531
2593                   38   8972.599609   8975.360352   8912.769531
2594                   39   9022.389648   9022.459961   8968.459961
2595                   39   9092.190430   9093.429688   9010.889648

       NASDAQ_Open  NASDAQ_Volume  NASDAQ_sentiment_score
0      7398.580078     5099350000                       2
1      6278.490234     1647440000                       2
2      6278.490234     1647440000                       2
3     11199.250000     6679470000                       3
4      7392.729980     4618120000                       3
...            ...            ...                     ...
2591   8976.429688     2586520000                      93
2592   8918.740234     2186830000                      93
2593   8918.740234     2186830000                      93
2594   8970.209961     1639960000                      93
2595   9039.459961     2862700000                      97

[2596 rows x 13 columns]