In [1]:
from senti_ai.ml_logic.data import save_data_to_bq
from senti_ai.ml_logic.data import load_data_from_bq
import pandas as pd
from google.cloud import bigquery

In [2]:
GCP_PROJECT_WAGON = "supple-folder-448412-n9"
BQ_DATASET = "sentiai"
TABLE = "raw" # we have tables 'raw' and 'processed' at the moment

In [8]:
df = pd.read_csv("feargreed_daily_hist.csv")

In [9]:
df

         date  sentiment_score
0      2/1/18               30
1      2/2/18               15
2      2/3/18               40
3      2/4/18               24
4      2/5/18               11
...       ...              ...
2587   3/7/25               34
2588   3/8/25               28
2589   3/9/25               27
2590  3/10/25               20
2591  3/11/25               24

[2592 rows x 2 columns]

In [10]:
load_data_to_bq(df, GCP_PROJECT_WAGON, BQ_DATASET, TABLE, truncate=True)

Save data to BigQuery @ supple-folder-448412-n9.sentiai.raw...:

Write supple-folder-448412-n9.sentiai.raw (2592 rows)

/Users/ahmetcakan/.pyenv/versions/3.10.6/envs/senti_ai/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:483: FutureWarning: Loading pandas DataFrame into BigQuery will require pandas-gbq package version 0.26.1 or greater in the future. Tried to import pandas-gbq and got: No module named 'pandas_gbq'
  warnings.warn(

✅ Data saved to bigquery, with shape (2592, 2)

In [11]:
query = f"""SELECT {",".join(['date', 'sentiment_score'])} FROM `{GCP_PROJECT_WAGON}`.{BQ_DATASET}.raw"""

In [12]:
client = bigquery.Client(project=GCP_PROJECT_WAGON)
query_job = client.query(query)
result = query_job.result()
df_new = result.to_dataframe()

/Users/ahmetcakan/.pyenv/versions/3.10.6/envs/senti_ai/lib/python3.10/site-packages/google/cloud/bigquery/table.py:1900: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [13]:
df_new

         date  sentiment_score
0     8/22/19                5
1     6/18/22                6
2     6/19/22                6
3     6/15/22                7
4     6/16/22                7
...       ...              ...
2587   1/6/21               95
2588   2/9/21               95
2589  2/14/21               95
2590  2/16/21               95
2591  2/17/21               95

[2592 rows x 2 columns]

In [3]:
df = load_data_from_bq("supple-folder-448412-n9", "sentiai", "raw")

/Users/ahmetcakan/.pyenv/versions/3.10.6/envs/senti_ai/lib/python3.10/site-packages/google/cloud/bigquery/table.py:1900: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [4]:
df

         date  sentiment_score
0     8/22/19                5
1     6/18/22                6
2     6/19/22                6
3     6/15/22                7
4     6/16/22                7
...       ...              ...
2587   1/6/21               95
2588   2/9/21               95
2589  2/14/21               95
2590  2/16/21               95
2591  2/17/21               95

[2592 rows x 2 columns]